<div class="row">
  <div class="col-md-12">
    <h1>Einstellungen</h1>
  </div>
</div>

<!--div class="row">
  <div class="col-md-12">
    <h2>Adressen</h2>
  </div>
</div-->

<form class="form-horizontal" name="form" role="form" ng-controller="EinstellungenCtrl">
  <div class="row">
    <div class="form-group">
      <ng-form name="formgroup">
        <label class="col-md-2 control-label" for="adresse">Adresse</label>
        <div class="col-md-10">
          <input class="form-control" id="adresse" type="text" placeholder="Straße Hausnr., Ort" ng-model="adresse" ng-required/>
        </div>
      </ng-form>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button type="submit" class="btn btn-default" ng-click="createAdresse()">Speichern</button>
      </div>
    </div>
  </div>
  <div class="row">
   <div class="form-group">
     <div class="col-md-12" ng-repeat="immobilie in immobilien">
        <a class="btn btn-default btn-md btn-block" ng-href="#/einstellungen/{{immobilie.adresse|encodeUriComponent}}">{{immobilie.adresse}}</a>
      </div>
    </div>
  </div>
</form>
