<div class="row">
  <div class="col-md-12">
    <h1>{{adresse}}</h1>
  </div>
</div>

<!--div class="row">
  <div class="col-md-12">
    <h2>Zähler</h2>
  </div>
</div-->

<div class="row">
  <div class="col-md-12">
    <p ng-repeat="z in immobilie.zaehlers">{{z.art.art}} {{z.nr}} ({{z.typ.art}})
      <!--button type="button" class="btn btn-default btn-md">
        <span class="glyphicon glyphicon-edit"></span> Edit
      </button>
      <button type="button" class="btn btn-default btn-md">
        <span class="glyphicon glyphicon-remove"></span> Remove
      </button>
      <button type="button" class="btn btn-default btn-md">
        <span class="glyphicon glyphicon-chevron-up"></span> Up
      </button>
      <button type="button" class="btn btn-default btn-md">
        <span class="glyphicon glyphicon-chevron-down"></span> Down
      </button-->
    </p>
  </div>
</div>

<div class="row">
<form class="form-horizontal" name="EinstellungenAdresseForm" role="form" ng-controller="EinstellungenAdresseCtrl">
  <div class="form-group">
    <label class="col-md-2 control-label" for="art">{{metadaten.art.name}}</label>
    <div class="col-md-10">
      <select class="form-control" name="art" ng-model="zaehler.art" ng-options="a.art for a in metadaten.art.werte" ng-required="true">
      </select>
      <span ng-show="EinstellungenAdresseForm.art.$invalid">
        Validierung fehlgeschlagen.
        <span ng-show="EinstellungenAdresseForm.art.$error.required">Bitte wählen Sie eine Zählerart aus.</span>
      </span>
      <!--pre>Dirty: {{EinstellungenAdresseForm.art.$dirty}}
Invalid: {{EinstellungenAdresseForm.art.$invalid}}
Required: {{EinstellungenAdresseForm.art.$error.required}}</pre-->
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="nr">Zählernummer</label>
    <div class="col-md-10">
      <input name="zaehlernr" type="text" class="form-control" ng-model="zaehler.nr" ng-required="true"/>
      <span ng-show="EinstellungenAdresseForm.zaehlernr.$dirty && EinstellungenAdresseForm.zaehlernr.$invalid">
        Validierung fehlgeschlagen.
        <span ng-show="EinstellungenAdresseForm.zaehlernr.$error.required">Bitte geben sie eine Zählernummer ein.</span>
      </span>
      <!--pre>Dirty: {{EinstellungenAdresseForm.zaehlernr.$dirty}}
Invalid: {{EinstellungenAdresseForm.zaehlernr.$invalid}}
Required: {{EinstellungenAdresseForm.zaehlernr.$error.required}}</pre-->
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="typ">{{metadaten.typ.name}}</label>
    <div class="col-md-10">
      <select name="typ" class="form-control" ng-model="zaehler.typ" ng-options="t.art for t in metadaten.typ.werte" ng-required="true">
      </select>
      <span ng-show="EinstellungenAdresseForm.typ.$invalid">
        Validierung fehlgeschlagen.
        <span ng-show="EinstellungenAdresseForm.typ.$error.required">Bitte wählen sie einen Zählertyp aus.</span>
      </span>
      <!--pre>Dirty: {{EinstellungenAdresseForm.typ.$dirty}}
Invalid: {{EinstellungenAdresseForm.typ.$invalid}}
Required: {{EinstellungenAdresseForm.typ.$error.required}}</pre-->
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-default" ng-disabled="EinstellungenAdresseForm.art.$invalid || EinstellungenAdresseForm.zaehlernr.$invalid || EinstellungenAdresseForm.typ.$invalid" ng-click="saveImmobilie()">Speichern</button>
    </div>
  </div>
</form>
</div>
