<div class="row">
  <div class="col-md-12">
    <h1>{{adresse}}</h1>
  </div>
</div>

<div class="row" ng-repeat="z in zaehlers">
  <div class="col-md-12">
    <div class="input-group">
      <input type="text" class="form-control" readonly value="{{z.art.art}} {{z.nr}} ({{z.typ.art}})" />
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a data="{{z}}" ng-click="edit(z);"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
          <li><a data="{{z}}" ng-click="remove(z);"><span class="glyphicon glyphicon-remove"></span> Remove</a></li>
          <li><a data="{{z}}" ng-click="up(z);"><span class="glyphicon glyphicon-chevron-up"></span> Up</a></li>
          <li><a data="{{z}}" ng-click="down(z);"><span class="glyphicon glyphicon-chevron-down"></span> Down</a></li>
        </ul>
      </div>
    </div><br>
  </div>
</div>

<form name="EinstellungenZaehlerForm">
  <fieldset>
    <legend>Zählerformular</legend>
    <p>
      <label for="nr">Zählernummer</label>
      <input id="nr" name="nr" type="text" ng-model="zaehler.nr">
    </p>
    <p>
      <label for="art">Art</label>
      <select id="art" name="art" ng-model="zaehler.art" ng-options="a.art for a in metadaten.art.werte"></select>
    </p>
    <p>
      <label for="typ">Typ</label>
      <select id="typ" name="typ" ng-model="zaehler.typ" ng-options="t.art for t in metadaten.typ.werte"></select>
    </p>
    <p>
      <button ng-click="save()">Speichern</button>
    </p>
  </fieldset>
</form>

<pre>immobilie = {{immobilie}}</pre>
<pre>metadaten = {{metadaten}}</pre>
<pre>zaehlers = {{zaehlers}}</pre>
