<div class="row">
  <div class="col-md-12">
    <h1>Einstellungen</h1>
  </div>
</div>

<!--div class="row">
  <div class="col-md-12">
    <h2>Adressen</h2>
  </div>
</div-->

<form class="form-horizontal" name="EinstellungenForm" role="form" ng-controller="EinstellungenCtrl">
  <div class="row">
    <div class="form-group" ng-class="{'has-error': EinstellungenForm.adresse.$dirty && EinstellungenForm.adresse.$invalid, 'has-success': EinstellungenForm.adresse.$dirty && !EinstellungenForm.adresse.$invalid}">
      <label class="col-md-2 control-label" for="adresse">Adresse</label>
      <div class="col-md-10">
        <input class="form-control" id="adresse" name="adresse" type="text" placeholder="Straße Hausnr., Ort" ng-model="adresse" ng-required="true"/>
        <span ng-show="EinstellungenForm.adresse.$dirty && EinstellungenForm.adresse.$invalid">Geben Sie bitte die Adresse des Hauses, der Wohnung oder Wohneinheit ein.</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button type="submit" class="btn btn-default" ng-click="createAdresse()" ng-disabled="EinstellungenForm.adresse.$invalid">Speichern</button>
      </div>
    </div>
  </div>
  <div class="row">
   <div class="form-group">
     <div class="col-md-12" ng-repeat="immobilie in immobilien">
        <a class="btn btn-default btn-md btn-block" ng-href="#/zaehler/{{immobilie.adresse|encodeUriComponent}}">{{immobilie.adresse}}</a>
      </div>
    </div>
  </div>
</form>
