<div class="row">
  <div class="col-md-12">
    <h1>Erfassung<br/><small>{{immobilie.adresse}}</small></h1>
  </div>
</div>

<form class="form-horizontal" name="form" role="form" ng-controller="ErfassungCtrl">
  <div class="row">
    <div class="form-group" ng-repeat="z in immobilie.zaehlers">
      <ng-form name="formgroup">
        <label class="col-md-4 control-label" for="{{z.id}}">{{z.art.art}} {{z.nr}} ({{z.typ.art}})<br>Letzter Stand: {{z.aktuellerZaehlerstand}} {{z.art.einheit}}</label>
        <div class="col-md-8">
          <input id="{{z.id}}" name="zaehlerstand" type="text" class="form-control" placeholder="{{z.art.einheit}}" ng-model="z.zaehlerstand" ng-required min-value="{{z.aktuellerZaehlerstand}}"/>
          <span ng-show="formgroup.zaehlerstand.$dirty && formgroup.zaehlerstand.$invalid">
            Validierung fehlgeschlagen.
            <span ng-show="formgroup.zaehlerstand.$error.required">Bitte einen Zählerstand eingeben.</span>
            <span ng-show="formgroup.zaehlerstand.$error.float">Bitte eine Dezimalzahl eingeben.</span>
            <span ng-show="formgroup.zaehlerstand.$error.minValue">Bitte geben sie mindestens {{z.aktuellerZaehlerstand}} ein.</span>
          </span>
        </div>
      </ng-form>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-md-offset-4 col-md-8">
        <button type="submit" class="btn btn-default" ng-disabled="isAtLeastOneZaehlerInvalid()" ng-click="saveZaehler()">Speichern</button>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-md-12">
    <h1>Zählerstände</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div ng-repeat="z in immobilie.zaehlers">
      <h2>{{z.art.art}} {{z.nr}} ({{z.typ.art}})</h2>
      <table class="table table-striped table-hover">
        <tr>
          <th>Datum</th>
          <th>Stand</th>
        </tr>
        <tr ng-repeat="zaehlerstand in z.zaehlerstaende">
          <td>{{zaehlerstand.datum}}</td>
          <td>{{zaehlerstand.stand}} {{z.art.einheit}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
