<div class="row">
  <div class="col-md-12">
    <h1>Übersicht</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12" ng-repeat="immobilie in immobilien">
    <strong><a href="#/erfassung/{{immobilie.adresse}}">{{immobilie.adresse}}</a></strong>
    <ul class="list-unstyled">
      <li ng-repeat="zaehler in immobilie.zaehlers">
        {{zaehler.art.art}} {{zaehler.nr}} ({{zaehler.typ.art}}), {{zaehler.aktuellerZaehlerstandDatum | date:'medium' }} Uhr: <em>{{zaehler.aktuellerZaehlerstand}} {{zaehler.art.einheit}}</em>
      </li>
    </ul>
  </div>
</div>
