<div class="row">
  <div class="col-md-12">
    <h1>Übersicht</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12" ng-repeat="immobilie in immobilien">
    <h2><a href="#/erfassung/{{immobilie.adresse}}">{{immobilie.adresse}}</a></h2>
    <table class="table table-striped table-hover">
      <tr>
        <th>Zähler</th>
        <th>Datum</th>
        <th>Stand</th>
      </tr>
      <tr ng-repeat="zaehler in immobilie.zaehlers">
        <td>{{zaehler.art.art}} {{zaehler.nr}} ({{zaehler.typ.art}})</td>
        <td>{{zaehler.aktuellerZaehlerstandDatum | date:'medium' }} Uhr</td>
        <td>{{zaehler.aktuellerZaehlerstand}} {{zaehler.art.einheit}}</td>
      </tr>
    </table>
  </div>
</div>
